@import "globals";

#painting-area {
  display: grid;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border: 1px solid black;
}

.pixel {
  border: 1px solid black;
  background-color: transparent;
  &:hover {
    background-color: #ccc;
  }
}

#options {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 2em;
}

.option-wrapper {
  display: inline-flex;
  align-items: center;
}

label {
  margin-right: 1em;
}
